* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/* Main content starts */

.container {
  background-color: #23424a;
  padding: 148px 0;
}

.main-content {
  width: 80%;
  max-width: 750px;
  margin: 0 auto 0 10%;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
}

p {
  color: #ddd;
  margin: 2rem 0 4rem 0;
  font-size: 1.25rem;
}

a {
  background-color: #38cfd9;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  color: #072a2d;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
}

/* Main content ends */

/* secondary content starts */
.wrapper {
  width: 100%;
  text-align: center;
}

.row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}

.col {
  width: 100%;
}

.col + .col {
  margin-left: 2rem;
}

h3 {
  font-size: 2.25rem;
  color: #87629a;
}

.col p {
  color: #3a3a3a;
}
/* Secondary content ends */

/* Tertiary content begins */
.tertiary-content {
  background-color: #136c72;
}

.tertiary-content h3,
.tertiary-content p {
  color: #fff;
}
/* Tertiary content ends */
